<%- include("partials/header") -%>
<section class="section1">
  <div class="hero">

      <video autoplay loop muted plays-inline class="back-video">
        <source src="images/sushi.mp4" type="video/mp4">
      </video>

    <div class="content">
      <h1>An Intimate Sushi Experience</h1>
      <a href="contact"> <button type="button" class=" btn btn-outline-light btn-lg"">Reserve a table</button></a>

    </div>
  </div>
</section>

<section class=" section2 pt-5">
          <div class=" container borderhead">
            <h1 class="s2head">The people who make it happen</h1>
          </div>
          <div class="flex-container flxcontainer">
            <div class="flex-left">
              <div class="image">
                <img class="image__img" src="images/sushichef1.jpg" alt="chef" style="height:400px">
                <div class="image__overlay image__overlay--blur">
                  <div class="image__title">Kazuki Watanabe</div>
                  <p class="image__description">Head Chef</p>
                </div>
              </div>



            </div>
            <div class="flex-right">
              <h3 class="watanabe">About Me</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in rutrum turpis. Sed nec ornare risus, vitae tempus lectus. Donec nisl eros, dapibus vel molestie et, venenatis id arcu. Morbi nec orci non nisi dapibus pretium.
                Pellentesque venenatis tortor vulputate, rhoncus mi at, maximus nibh. Proin dapibus est sed posuere lobortis. Curabitur eget ultrices purus, id ultricies lectus. Aenean id hendrerit augue, a sodales risus. Sed laoreet dignissim
                mattis. Phasellus vitae urna euismod, blandit ante sed, ultrices tellus. Nulla convallis tempus euismod. Suspendisse pellentesque ultrices massa sed laoreet. Nam hendrerit nisl ac lorem mollis fermentum. Maecenas ut dignissim ex, ut
                pharetra mauris. Aliquam vitae dui consequat, sollicitudin odio ac, auctor nisi. Donec a diam vel arcu venenatis posuere.</p>
            </div>

            <!-- <div class="flex-right2">
      <img src="images/kyotodark.jpg" class="kyotopic" alt="" style="height:400px">

    </div> -->

          </div>

          <div class="flex-container flxcontainer1 pb-5">
            <div class="flex-left1">
              <div class="image">
                <img class="image__img" src="images/sushichef2.jpg" alt="chef" style="height:400px">
                <div class="image__overlay image__overlay--blur">
                  <div class="image__title">Haru Tanaka</div>
                  <p class="image__description">Assistant Chef</p>
                </div>
              </div>


            </div>
            <div class="flex-right1">
              <h3 class="watanabe">About Me</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in rutrum turpis. Sed nec ornare risus, vitae tempus lectus. Donec nisl eros, dapibus vel molestie et, venenatis id arcu. Morbi nec orci non nisi dapibus pretium.
                Pellentesque venenatis tortor vulputate, rhoncus mi at, maximus nibh. Proin dapibus est sed posuere lobortis. Curabitur eget ultrices purus, id ultricies lectus. Aenean id hendrerit augue, a sodales risus. Sed laoreet dignissim
                mattis. Phasellus vitae urna euismod, blandit ante sed, ultrices tellus. Nulla convallis tempus euismod. Suspendisse pellentesque ultrices massa sed laoreet. Nam hendrerit nisl ac lorem mollis fermentum. Maecenas ut dignissim ex, ut
                pharetra mauris. Aliquam vitae dui consequat, sollicitudin odio ac, auctor nisi. Donec a diam vel arcu venenatis posuere.</p>

            </div>


          </div>


</section>

<section class="section3">
  <div class="hero2">


    <video autoplay loop muted plays-inline class="back-video">
      <source src="images/sushivid2.mp4" type="video/mp4">
    </video>
    <div class="row controw">
      <div class="container finalcont">
        <h1>Our menu often changes daily</h1>
        <p>Have a look at some dishes we will always have</p>
      </div>
      <a href="menu"> <button type="button" class=" btn btn-outline-light btn-lg mt-5">Our Menu</button></a>


      </div>

    </div>




</section>









<%- include("partials/footer") -%>
