<%- include("partials/header") -%>
<section class="menuclass">
  <section class="menu">

      <div class="title">
        <h2>Menu</h2>
        <div class="underline"></div>
      </div>

      <div class="btn-container">

      </div>

      <div class="section-center">

      </div>
    </section>

</section>



<%- include("partials/footer") -%>
